
* {
	box-sizing: border-box;
}

.logIn {
	background: url(../images/logIn-back.jpg) center no-repeat ;
	background-size: cover;
	min-height: 638px;
}


.log-content {
	background: rgba(8,8,8,.5);
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 638px;
	padding-top: 110px;

}


.log-content h3 {
	color: #FFF;
	font-size: 40px;
	font-family: raleway;
	margin-bottom: 50px;
	
}


.log-content .form-control {
	border-radius: 0px;
	margin-bottom: 20px;
	height: 40px;
	background: rgba(8,8,8,.5);
	padding-left: 48px;
	color: #FFF;
	border: 0px;
}


.log-content i {
    width: 30px;
    height: 28px;
    position: absolute;
    display: inline-block;
    border-right: 1px solid #FFF;
    margin-top: 8px;
    margin-left: 8px;
}

.log-content .icon-user {
	background: url(../images/man.svg) no-repeat ;
	background-size: 20px,30px;
}


.log-content .icon-lock {
	background: url(../images/locker.svg) no-repeat ;
	background-size: 20px ,30px;
} 


.log-content input[type = "submit"] {
	background: #4267b2;
	color: #FFF;
	padding-left: 12px;
}


.log-content input[type = "submit"]:hover , .log-content input[type = "submit"]:focus {
	background: #365899;
	
}


#register {
	width: 360px;
	height: 40px;
	background: #FFF;
	color: #000;
}

#register:hover , #register:focus {
	background:#e4e3e3; 
}













