
body {
   padding-top: 80px ;
	font-family: raleway;
}


/*Nav */


.navbar-brand {
	height: auto;
}

 .navbar-header a > img {
	width: 60px;
}

 .navbar-toggle {
	margin-top: 23px;
}

.navbar-form {
	padding-top: 18px;
}

 .navbar .form-control {
	height: 40px;
	width: 250px !important;
}

.navbar-right > li {
	padding-top: 18px;
}


.navbar-default .navbar-nav>li>a  , header .navbar-default .navbar-nav>li> .fa{
	display: inline-block;
}


@media (max-width : 767px) {
	
	.navbar .form-control {
		width: 100% !important;
	}
	.navbar-default .navbar-nav>li {
			padding-left: 20px;
		
	}
	
	.navbar-default .navbar-nav>li> a  , .navbar-default .navbar-nav>li> .fa{
		color: #2c2c2c !important ;
		display: inline-block;
		font-size: 13px;
		font-weight: bold ;

	}
		
	.navbar-default .navbar-nav>li:hover > a  , .navbar-default .navbar-nav>li:hover > .fa{
		color: #365899 !important;
	}
	
	
}


/*#4267b2*/
/*hover #365899*/

.top-10 {
   background-color: #4267b2;
   color: #FFF;
   padding-top: 30px;
   padding-bottom: 30px;
}


.second-view {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #f9f9f9;

}



.second-profile {
   border: 2px solid #EEE;
   border-radius: 5px;
   background-color: #FFF;
   margin-bottom: 50px;
   position: relative;
   min-height: 350px;
   transition: all .7s ease-in-out;
	transform-style: preserve-3d;
   

}

.second-profile:hover {
    transform: rotateY(180deg)
}


.second-profile > div {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   padding: 25px 0px;
}

.front {
   backface-visibility: hidden;
   z-index: 2;
}

.back {
   backface-visibility: hidden;
   transform: rotateY(180deg);
   z-index: 1;

	
}


.front img {
   margin: 10px auto;
   border-radius: 50%;
   margin-bottom: 25px;
   border: 5px solid #EEE;
   
   
}

.front h4 {
   font-weight: bold;
}

.front span {
   background-color: #e0e0e0;
   color: #494949;
   line-height: 25px;
   font-size: 16px;
   text-transform: lowercase;
   padding: 5px;
   border-radius: 5px;
}

.front h3 {
   background-color: #b2b2b2;
   padding: 10px 0px;
   color: #FFF;
}

.state {
   list-style: none;
   overflow:hidden;
   padding-left: 0px;
   padding: 5px 20px;
      
}


.left {
   float: left;
}

.left span , .right span {
   background-color: #FFF;
}

.left .fa , .right .fa {
   color: #b2b2b2;
   margin-right: 5px;
}

.right {
   float: right;
}

.back h2 {
   
}

.back p {
   font-size: 15px;
   line-height: 1.5;
   text-align: center;
   padding: 5px;
}


.back a {
   margin: 10px 0px;
   margin-top: 50px;
   font-size: 14px;

   background-color: #4267b2;
    border-color: #4267b2;
   color: #FFF;
   width: 140px;
}

.back a:hover {
   background-color: #365899;
    border-color: #365899;
}


/*Start galance */
.glance {
   background: url(../images/Galance.jpg) center center no-repeat ;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 100px;
   
}

.article p {
  
   line-height: 2;
	text-align: justify
}


@media (max-width : 768px) {
	.glance {

		background: #FFF
	}
	
	.article h1 {
		font-size: 30px;
	}
	

	
}